<!-- <h1>All Animals:</h1> -->

@model IEnumerable<WhackAnimals.Models.Fact>




@foreach (Fact fact in Model)
{
    <h2>
        <p>@fact.Description</p>
        
    </h2>
   
    <br> 
}


<div class="table" >
<table class="display" id="example">
    <thead>
        <tr>
            <th>Facts</th>

        </tr>
    </thead>
    <tbody>
        @foreach (Fact fact in Model)
        {

            <tr>
                <td><p> @fact.Species</p></td>
            </tr>
        }
    </tbody>
</table> 
</div>


@* 
   <form id="form1" runat="server">

      <h3>Image Example</h3>

      <asp:Image id="Image1" runat="server"
           AlternateText="Image text"
           ImageAlign="left"
           ImageUrl="images/image1.jpg"/>
  
   </form>  *@